@import 'fullscreen';

$azureblue: #71BCFA;
$titlecolor1: white;
$titlecolor2: #545353;

$inputboxheight: 26px;

body {
    display: flex;
    flex-flow: column nowrap;
    
    /* Header takes up just enough room so that it can hold the content */
    > header {
        display: block;
        background-color: $azureblue;
        
        > div.split {
            display: flex;
            flex-flow: row nowrap;
            
            > hgroup {
                display: block;
                flex-grow: 1;
                
                h1 {
                    text-transform: uppercase;
                    font-weight: normal;
                    margin: 4px;
                    color: $titlecolor1;
                    font-size: 14px;
                }
                
                h2 {
                    text-transform: uppercase;
                    font-weight: normal;
                    margin: 4px;
                    color: $titlecolor2;
                    font-size: 20px;
                }
            }
            
            > div.icons {
                display: block;
                flex-basis: 64px;
                width: 64px;
                
                > div.icon {
                    width: 32px;
                    height: 32px;
                    margin: 16px;
                    font-size: 24px;
                    color: #F0F0F0;
                    
                    /* Make the icons clickable */
                    span { cursor: pointer; }
                }
                
                
            }
            
        }
        
    }
    
    /* Add-Item Section takes up just enough room to hold it. */
    > section.add-item {
        display: block;
        background: $azureblue;
        padding: 4px 0 8px 0;
        
        > form#add-item {
            display: flex;
            flex-flow: row nowrap;
            margin: 0 8px;
            
            > div.textbox {
                display: block;
                flex-grow: 1;
                
                >input#new-item-text {
                    width: 100%;
                    height: $inputboxheight;
                    border: 1px solid #999;
                    font-size: 1em;
                }
            }
            
            > div.buttons {
                display: block;
                
                > button {
                    margin-left: 10px;
                    padding: 0 10px;
                    height: $inputboxheight; 
                    border-radius: 4px;
                }
            }
        }
    }
    
    /* List Items Section takes up most of the room */
    > section#list-items-section {
        display: block;
        flex-grow: 1;
        background: #F4F4FA;
        
        > ul#todo-items {
            padding: 8px;
            margin: 0px;
            
            li {
                list-style-type: none;
                height: 36px;
                padding: 0px;
                border-bottom: 1px solid #dadada;
                
                div {
                    overflow: hidden;
                    padding: 5px 2px;
                }
                
                .item-complete {
                    float: left;
                    margin: 0px;
                    height: 100%;
                }
                
                .item-text {
                    width: 100%;
                    height: $inputboxheight;
                    line-height: ($inputboxheight - 2px);
                    border: 1px solid transparent;
                    background-color: transparent;
                    
                    &:focus, &:hover {
                        border-color: #aaa;
                        background-color: #ffc;
                    }
                }
            }
        }
        
    }
    
    /* Footer takes up just enough room */
    > footer {
        display: block;
        background: #F4F4FA;

        
        p#summary {
            text-align: center;
            font-size: 0.8em;
            margin-top: 12px;
        }
    }
}

input[type=text], input:not([type]) {
    padding: 0 10px;
    text-overflow: ellipsis;
}

button {
    border: 1px solid #999;
    color: #555;
    background-color: #F4F4FA;
    padding: 0 10px;
    
    &:hover {
        background-color: white;
    }
}
