html, body {
  padding: 0;
  margin: 0;
  font-size: 12px; }

body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

body {
  display: flex;
  flex-flow: column nowrap; }
  body > header, body > footer {
    display: block;
    order: 0; }
    @media screen and (orientation: portrait) {
      body > header, body > footer {
        flex-basis: 3vh;
        height: 3vh; } }
    @media screen and (orientation: landscape) {
      body > header, body > footer {
        flex-basis: 3vw;
        height: 3vw; } }
  body > header {
    background-color: goldenrod; }
  body > footer {
    background-color: darkslategrey; }
  body > section {
    display: block;
    flex-grow: 1;
    background-color: white; }
