* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  box-sizing: border-box; }

html, body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc. when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy past to allow, change none to text */
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #e0e0e0; }

body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

body {
  display: flex;
  flex-flow: column nowrap;
  /* Header takes up just enough room so that it can hold the content */
  /* Add-Item Section takes up just enough room to hold it. */
  /* List Items Section takes up most of the room */
  /* Footer takes up just enough room */ }
  body > header {
    display: block;
    background-color: #71BCFA; }
    body > header > div.split {
      display: flex;
      flex-flow: row nowrap; }
      body > header > div.split > hgroup {
        display: block;
        flex-grow: 1; }
        body > header > div.split > hgroup h1 {
          text-transform: uppercase;
          font-weight: normal;
          margin: 4px;
          color: white;
          font-size: 14px; }
        body > header > div.split > hgroup h2 {
          text-transform: uppercase;
          font-weight: normal;
          margin: 4px;
          color: #545353;
          font-size: 20px; }
      body > header > div.split > div.icons {
        display: block;
        flex-basis: 64px;
        width: 64px; }
        body > header > div.split > div.icons > div.icon {
          width: 32px;
          height: 32px;
          margin: 16px;
          font-size: 24px;
          color: #F0F0F0;
          /* Make the icons clickable */ }
          body > header > div.split > div.icons > div.icon span {
            cursor: pointer; }
  body > section.add-item {
    display: block;
    background: #71BCFA;
    padding: 4px 0 8px 0; }
    body > section.add-item > form#add-item {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 8px; }
      body > section.add-item > form#add-item > div.textbox {
        display: block;
        flex-grow: 1; }
        body > section.add-item > form#add-item > div.textbox > input#new-item-text {
          width: 100%;
          height: 26px;
          border: 1px solid #999;
          font-size: 1em; }
      body > section.add-item > form#add-item > div.buttons {
        display: block; }
        body > section.add-item > form#add-item > div.buttons > button {
          margin-left: 10px;
          padding: 0 10px;
          height: 26px;
          border-radius: 4px; }
  body > section#list-items-section {
    display: block;
    flex-grow: 1;
    background: #F4F4FA; }
    body > section#list-items-section > ul#todo-items {
      padding: 8px;
      margin: 0px; }
      body > section#list-items-section > ul#todo-items li {
        list-style-type: none;
        height: 36px;
        padding: 0px;
        border-bottom: 1px solid #dadada; }
        body > section#list-items-section > ul#todo-items li div {
          overflow: hidden;
          padding: 5px 2px; }
        body > section#list-items-section > ul#todo-items li .item-complete {
          float: left;
          margin: 0px;
          height: 100%; }
        body > section#list-items-section > ul#todo-items li .item-text {
          width: 100%;
          height: 26px;
          line-height: 24px;
          border: 1px solid transparent;
          background-color: transparent; }
          body > section#list-items-section > ul#todo-items li .item-text:focus, body > section#list-items-section > ul#todo-items li .item-text:hover {
            border-color: #aaa;
            background-color: #ffc; }
  body > footer {
    display: block;
    background: #F4F4FA; }
    body > footer p#summary {
      text-align: center;
      font-size: 0.8em;
      margin-top: 12px; }

input[type=text], input:not([type]) {
  padding: 0 10px;
  text-overflow: ellipsis; }

button {
  border: 1px solid #999;
  color: #555;
  background-color: #F4F4FA;
  padding: 0 10px; }
  button:hover {
    background-color: white; }
